language: ruby
bundler_args: --without development production staging
rvm:
  - 1.9.3
env:
  - PGVERSION=9.3
addons:
  postgresql: "9.3"
before_install:
  - wget https://gist.github.com/petere/5893799/raw/apt.postgresql.org.sh
  - wget https://gist.github.com/C-Pro/8491912/raw/pg-pgtap-install.sh
  - wget https://gist.github.com/C-Pro/8492131/raw/install.cfg
  - sudo sh ./apt.postgresql.org.sh
  - sudo bash -c 'echo yes | cpan TAP::Parser::SourceHandler::pgTAP'
  - bash pg-pgtap-install.sh
before_script:
  - psql -h localhost -p 55436 -c 'create database sapi_test' -U postgres
  - cp config/database.yml.travis config/database.yml
  - RAILS_ENV=test bundle exec rake db:migrate
script:
  - export PERL5LIB=~/perl5/lib/perl5
  - cd spec && ~/perl5/bin/pg_prove -h localhost -p 55436 -d sapi_test -U postgres pgtap/*.sql
